{% extends 'base.html' %}
{% block title %}Início - Formiguinhas{% endblock %}
{% block content %}
<div class="text-center">
    <h2 class="mt-4">Bem-vindo ao Projeto App Formiguinhas</h2>
    <p class="mt-4">Utilize o menu acima para navegar.</p>
    <h4 class="mt-5">Funcionalidades</h4>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <ul class="list-group mt-3">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span><strong>Cadastro inicial da família</strong></span>
                    <span class="badge bg-success text-dark">Concluído</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span><strong>Entrevista para retirada da cesta</strong></span>
                    <span class="badge bg-info text-dark">Em Testes</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span><strong>Exportar para Excel</strong></span>
                    <span class="badge bg-success text-dark">Concluído</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span><strong>Gerenciar Usuários</strong></span>
                    <span class="badge bg-info text-dark">Em Testes</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span><strong>Relatórios &amp; Estatísticas</strong></span>
                    <span class="badge bg-warning text-dark">Em Desenvolvimento</span>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
