{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<h2 class="mb-4">Login</h2>
<form method="post" class="w-50 mx-auto">
    <div class="mb-3">
        <label class="form-label" for="login">Login</label>
        <input class="form-control" type="text" name="login" id="login" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="senha">Senha</label>
        <input class="form-control" type="password" name="senha" id="senha" required>
    </div>
    <button class="btn btn-primary" type="submit">Entrar</button>
</form>
{% endblock %}
